.tabs-page {

    &__list {
        display: flex;
        gap: 43px;
    }

    &__target {
        padding: 0 16px 10px 16px;
        font-weight: 500;
        font-size: 16px;
        color: #718ebf;
        position: relative;
        transition: color .3s ease-in-out;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #1814f3;
            border-radius: 10px 10px 0 0;
            height: 3px;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &--active {
            color: #1814f3;

            &::before {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 500px) {

    .tabs-page__list {
        gap: 22px;
    }

    .tabs-page__target {
        font-size: 13px;
        padding: 7px;
    }

    .tabs-page__target::before {
        height: 2px;
    }
}