<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airdrop-hunter</title>
    <link rel="stylesheet" href="/src/styles/main.scss">
</head>

<body>
    <div class="wrapper-page">
        {% include "components/sidebar-nav.twig" %}
        <div class="main-content">
            {% include "components/header-info.twig" %}
            <main class="main-page">
                {% include "components/main-page-content.twig" %}
            </main>
        </div>
    </div>
    <script type="module" src="/src/scripts/main.js"></script>

</body>

</html>