<header class="header-info">
	<div class="header-info__wrapper">
		<button class="button-burger">
			<span class="svg-icon">
				<svg width="18px" height="15px" class="svg-icon__icon">
					<use xlink:href="sprite.svg#burger"></use>
				</svg>
			</span>
		</button>
		<h1 class="title-big">Setting</h1>
		<div class="header-info__panel-settings">
			<div class="header-info__settings">
				<div class="search-field">
					<span class="svg-icon search-field__icon">
						<svg width="20px" height="20px" class="svg-icon__icon">
							<use xlink:href="sprite.svg#search"></use>
						</svg>
					</span>
					<input type="search" name="search" placeholder="Search for something" class="search-field__input">
				</div>
				<button class="button-action">
					<span class="svg-icon">
						<svg width="25px" height="25px" class="svg-icon__icon">
							<use xlink:href="sprite.svg#settings"></use>
						</svg>
					</span>
				</button>
				<button class="button-action">
					<span class="svg-icon">
						<svg width="25px" height="25px" class="svg-icon__icon">
							<use xlink:href="sprite.svg#notification"></use>
						</svg>
					</span>
				</button>
			</div>
			<button class="avatar-user">
				<picture class="avatar-user__image-wrap">
					<source srcset="/images/upload/user.avif">
					<source srcset="/images/upload/user.webp">
					<source srcset="/images/upload/user.png">
					<img src="/images/upload/user.png" class="avatar-user__image" alt="name user">
				</picture>
			</button>
		</div>
	</div>
</header>